<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense.ad-client }}"></script>

<!-- image-based page footer -->
<ins class="adsbygoogle"
     style="display:block; border-bottom:none;"
    data-ad-client= {{ site.adsense.ad-client }}
    {% if include.ad-slot %} data-ad-slot= {{ include.ad-slot }} {% endif %}
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>