<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ site.adsense.ad-client }}"></script>

<!-- Text based adsense-->
<div align="center" style="margin: 1em 0; height:auto; width:100%">
     <ins class="adsbygoogle"
     style="display:block; border-bottom:none; height:auto; width:100%"
     data-ad-format="fluid"
     data-ad-layout-key="-gk-18+5g-2f-83"
     data-ad-client= {{ site.adsense.ad-client }}
     {% if include.ad-slot %} data-ad-slot= {{ include.ad-slot }} {% endif %}></ins>
</div>

<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>